PORT=3000
BASIC_USERS=["user:secret"]
RAG_SERVER_API_URL=https://rag.nusa.net.id/rag
RAG_SERVER_AUTHZ_HEADER="Basic aG9ubzpob25veA=="
DEFAULT_COMMAND='!ai'
NUSACONTACT_PHONE_NUMBER_IDS=[]
NUSACONTACT_MESSAGES_API_URL=http://localhost:3000/messages
NUSACONTACT_MESSAGES_API_TEST_URL=http://localhost:3000/messages
NUSACONTACT_API_KEY=xxxxxxxx
NUSACONTACT_API_TEST_KEY=xxxxxxxx
NUSACONTACT_MAX_RETRIES=5
